<article
  class="theme-page__product-card merch-card"
  data-blind-box-card
  data-blind-box-mode="pending"
  data-product-tags="{{ props.product.tags }}"
>
  <a class="theme-page__product-media merch-card__media" href="{{ props.product.url }}">
    {{#if props.product.featured_image}}
      <img
        class="theme-page__card-image merch-card__image"
        src="{{ props.product.featured_image | image_url(width=960, height=1200) }}"
        alt="{{ props.product.title }}"
        loading="lazy"
      >
    {{else}}
      <div class="merch-card__placeholder">
        <span>Product</span>
        <strong>{{ props.product.title }}</strong>
      </div>
    {{/if}}
  </a>

  <div class="theme-page__grid merch-card__body">
    <div class="merch-card__heading">
      <span class="theme-page__meta">
        {{#if props.meta_label}}
          {{ props.meta_label }}
        {{else}}
          Product
        {{/if}}
      </span>

      <h3>
        <a class="theme-page__subtle-link" href="{{ props.product.url }}">{{ props.product.title }}</a>
      </h3>
    </div>

    <div class="merch-card__pricing">
      <strong class="theme-page__price">{{ props.product.price | money() }}</strong>
      {{#if props.product.selected_or_first_available_variant.compare_at_price}}
        <span class="merch-card__compare-price">
          {{ props.product.selected_or_first_available_variant.compare_at_price | money() }}
        </span>
      {{/if}}
    </div>

    <p class="theme-page__product-note theme-page__product-note--standard">
      {{#if props.product.available}}
        Available for checkout.
      {{else}}
        Currently sold out.
      {{/if}}
    </p>

    <p class="theme-page__product-note theme-page__product-note--blind">
      Mystery product. You will receive a random item from the collection after payment.
    </p>

    <div class="merch-card__footer">
      <a class="merch-card__details-link theme-page__subtle-link" href="{{ props.product.url }}">
        View product
      </a>

      {{#if props.product.available}}
        <a class="merch-card__action merch-card__action--primary" href="{{ props.product.url }}">
          {{#if props.product.variants.length > 1}}
            Choose options
          {{else}}
            Add to cart
          {{/if}}
        </a>
      {{else}}
        <span class="merch-card__action merch-card__action--disabled">Sold out</span>
      {{/if}}
    </div>
  </div>
</article>
